name: GameCI build
on:
  workflow_dispatch:

jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      
      - run: echo "cache"
      - name: Cache
        uses: actions/cache@v4.0.2
        with:
          path: Library
          key: Library-MyProjectName-TargetPlatform
          restore-keys: |
            Library-MyProjectName-
            Library-
    
      - run: echo "build"
      - name: Unity - Builder
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneWindows
          projectPath: testProject
          unityVersion: 2022.3.27f1
          buildName: testBuildName
          
      - run: echo "upload"
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.3
        with:
          name: build
          path: build/StandaloneWindows
