name: Deploy
on:
  workflow_dispatch
env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  ITCH_API_KEY: ${{ secrets.ITCH_API_KEY }}
  ITCH_USERNAME: valerypopov
  ITCH_GAME_ID: ci-cd-test
  TARGET_PLATFORM: StandaloneWindows64
  BUILD_CHANNEL: windows
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    outputs:
      buildVersion: ${{ steps.buildStep.outputs.buildVersion }}
    steps:
    
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          
      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ env.TARGET_PLATFORM }}
          restore-keys: Library-
            
      - uses: game-ci/unity-builder@v4
        id: buildStep
        with:
          targetPlatform: ${{ env.TARGET_PLATFORM }}
          versioning: Semantic
          
      - uses: actions/upload-artifact@v3
        with:
          name: Build-${{ env.TARGET_PLATFORM }}
          path: build/

      - uses: actions/download-artifact@v4
        with:
          name: Build-${{ env.TARGET_PLATFORM }}
          path: build/
          
      - uses: KikimoraGames/itch-publish@v0.0.3
        with:
          butlerApiKey: ${{ env.ITCH_API_KEY }}
          gameData: build/Build-${{ env.TARGET_PLATFORM }}
          itchUsername: ${{ env.ITCH_USERNAME }}
          itchGameId: ${{ env.ITCH_GAME_ID }}
          buildChannel: ${{ env.BUILD_CHANNEL }}
