name: Deploy
on:
  workflow_dispatch
env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  ITCH_API_KEY: ${{ secrets.ITCH_API_KEY }}
  itch_username: valerypopov
  itch_game_id: ci-cd-test
  targetPlatform: StandaloneWindows64
  buildChannel: windows
  
jobs:
  build:
    name: Build for ${{ env.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    outputs:
      buildVersion: ${{ steps.buildStep.outputs.buildVersion }}
    steps:
    
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          
      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ env.targetPlatform }}
          restore-keys: Library-
            
      - uses: game-ci/unity-builder@v4
        id: buildStep
        with:
          targetPlatform: ${{ env.targetPlatform }}
          versioning: Semantic
          
      - uses: actions/upload-artifact@v3
        with:
          name: Build-${{ env.targetPlatform }}
          path: build/Build-${{ env.targetPlatform }}

      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.targetPlatform }}
          path: build/${{ env.targetPlatform }}
          
      - uses: KikimoraGames/itch-publish@v0.0.3
        with:
          butlerApiKey: ${{ env.ITCH_API_KEY }}
          gameData: ./build/${{ env.targetPlatform }}
          itchUsername: ${{ env.itch_username }}
          itchGameId: ${{ env.itch_game_id }}
          buildChannel: ${{ env.buildChannel }}
